# Ignore Vagrant development setup
install-opengrm.sh
Vagrantfile

# Ignore Vagrant settings
.vagrant/
ubuntu-*-console.log

# Ignore resulting file
cuneiform-latin.far

# Ignore intermediate files
byte.far

# Ignore thraxrewrite-tester history file
.rewrite-tester-history

# Ignore test files
byte.grm
test.txt
